<html>
    <head>
        <title>Darya G. Blog</title>
    </head>
    <body>
        <h1><p>Всем привет меня зовут Дарья это мой блог :) подписывайтесь и ставьте лайки</p></h1>
        <p>Блог и Тисе</p>
        <div>
            <h1><a href="/">Дарья блог</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Как покормить Тишу</a></h2>
            <p>Нужно положить еду</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Как почесать Тису</a></h2>
            <p>Нужно ногтями пальцев почесать его</p>
        </div>


    </body>
</html>